.App {
  text-align: center;
  list-style: none;
}

.entry-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.entries-collection-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* .heading {
    padding-left: 150px;
    margin-left: auto;
    font-size: clamp(1rem, 1.7rem, 2rem);
} */