.App {
  text-align: center;
}

.entry-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.entry-form-input {
  margin: 1.2em 0;
}

.entry-button {
  margin-top: 10em;
}