.App {
  text-align: center;
  list-style: none;
}

.entry-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}



/* .entry-form-container {
    --s: 250px; 
    
    --_g: #0000 90deg,#fff 0;
    background:
      conic-gradient(from 116.56deg at calc(100%/3) 0   ,var(--_g)),
      conic-gradient(from -63.44deg at calc(200%/3) 100%,var(--_g))
      #2FB8AC;
    background-size: var(--s) var(--s);
} */


/* html {
  --s: 84px; 
  
  --c: #fff;
  --a:from -30deg at;
  background:
    linear-gradient(#0000 50%,#0004 0),
    conic-gradient(var(--a) 90%,var(--c) 240deg,#0000    0),
    conic-gradient(var(--a) 75%,#71e9a0  240deg,#0000    0),
    conic-gradient(var(--a) 25%,#0000    240deg,var(--c) 0),
    conic-gradient(var(--a) 40%,var(--c) 240deg,#2a6a9b  0);
  background-size: calc(1.5*var(--s)) var(--s);
} */


.entries-collection-container {
  margin-top: 30px;
  margin-bottom: 50px;
}


/* Header */
.welcome-message {
  color: blue;
  font-size: 1rem;
  display: inline-block;
}

/* Signin */
/* 
.signin-container {


  --s: 300px;
    
    --_g: #0000 90deg,#fff 0;
    background:
      conic-gradient(from 116.56deg at calc(100%/3) 0   ,var(--_g)),
      conic-gradient(from -63.44deg at calc(200%/3) 100%,var(--_g))
      #e3efee;
    background-size: var(--s) var(--s);
} */

.error-message {
  color: rgb(209, 5, 5);
  padding: 0.8rem;
  background-color: rgb(249, 189, 189);
  border: 0.16rem solid rgb(209, 5, 5);
  border-radius: 0.5rem;
}

/* alt error style */
/* .error-message {
  color: white;
  padding: 5px;
  background-color: rgb(209, 5, 5);
  border: 2px solid rgb(209, 5, 5);
  border-radius: 4px;
} */